@use "src/colors";
@use "src/sizes";
@use "sass:math";

.cont {
  width: math.div(100%, 3) - 3%;
  position: relative;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  text-decoration: none;

  &::before {
    content: '';
    width: 100%;
    height: 100%;

    background-color: colors.$block-bg;
    border-radius: sizes.$border-radius;
    box-shadow: 0 2px 13px 0 rgba(2,2,3,.07);
    cursor: pointer;

    position: absolute;
    top: 0;
    left: 0;

    transition: 0.2s all;
  }

  &:hover::before {
    width: 102%;
    height: 102%;
    left: -1%;
    top: -1%;
  }

  @media screen and (max-width: 550px) {
    width: math.div(100%, 2) - 8%;
  }

  @media screen and (max-width: 350px) {
    width: 80%;
  }
}

.img {
  height: 30px;
  z-index: 3;

  &>img {
    height: 100%;
  }
}

.name {
  z-index: 3;
  margin-top: 15px;
  font-size: sizes.$fs-large;
  color: colors.$black;
  font-weight: 600;
  text-align: center;
}