@use 'src/colors';
@use 'src/sizes';

.cont {
  border-radius: sizes.$border-radius;
  background-color: colors.$block-bg;
  padding: sizes.$block-padding;
  display: flex;
  flex-direction: column;
  align-items: center;

  &>div {
    margin-bottom: 1rem;
  }

  &>div:last-child {
    margin-bottom: 0;
  }
}

.img {
  $size: 100px;
  width: $size;
  height: $size;

  &>img {
    width: 100%;
  }
}

.error {
  font-size: sizes.$fs-large;
}

.desc {
  font-size: sizes.$fs-norm;
}